version: '2'
services:
  web:
    image: nginx:latest
    env_file: .env
    ports:
    ## BEGIN webserver_ports ##

    ## END webserver_ports ##
    tty: true
    volumes:
      - ./.warp/docker/config/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./.warp/docker/config/nginx/ssl:/etc/nginx/ssl
      - ./.warp/docker/config/nginx/auth:/etc/nginx/auth
      - ${NGINX_CONFIG_FILE}:/etc/nginx/sites-enabled/default.conf
      - ./.warp/docker/volumes/nginx/logs:/var/log/nginx
    environment:
      VIRTUAL_HOST: ${VIRTUAL_HOST}
    volumes_from:
      - appdata:ro
    depends_on:
      - php
    networks:
    ## BEGIN webserver_network_ip ##

    ## END webserver_network_ip ##

  php:
    image: summasolutions/php:${PHP_VERSION}
    ports:
      - 9001
    volumes:
      - ./.warp/docker/config/php/php.ini:/usr/local/etc/php/php.ini
      - ./.warp/docker/config/php/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./.warp/docker/config/php/ext-xdebug.ini:/usr/local/etc/php/conf.d/ext-xdebug.ini
      - ./.warp/docker/config/php/ext-ioncube.ini:/usr/local/etc/php/conf.d/10-php-ext-ioncube.ini
      - ./.warp/docker/volumes/php-fpm/logs:/var/log/php-fpm
      - ./.warp/docker/config/crontab/cronfile:/etc/cron.d/cronfile
      - ./.warp/docker/config/supervisor/conf.d:/etc/supervisor/conf.d
      - ./.warp/docker/volumes/supervisor/logs:/var/log/supervisor
    volumes_from:
      - appdata
    env_file: .env
    environment:
        XDEBUG_CONFIG: ${XDEBUG_CONFIG}
        PHP_IDE_CONFIG: ${PHP_IDE_CONFIG}
    depends_on:
      - appdata
    user: www-data
    networks:
      - back

  appdata:
    image: summasolutions/appdata:latest
    ports:
      - 873
    volumes:
      - ~/.composer:/var/www/.composer:delegated
      - ./.warp/docker/config/appdata/startup.sh:/startup.sh
      - ./.warp/docker/config/bash/.bashrc:/var/www/.bashrc
      - ./.warp/docker/config/bash/.bashrc:/root/.bashrc
      - .:/var/www/html
    command: /bin/sh /startup.sh

  postgres:
    image: summasolutions/postgres:${POSTGRES_VERSION}
    env_file: .env
    ports: 
      - "${POSTGRES_BINDED_PORT}:5432"
    environment:
      POSTGRES_DB: "${POSTGRES_DB}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
    volumes:
      - "./.warp/docker/volumes/postgresql:/var/lib/postgresql/data"
      - "./.warp/docker/dumps:/dumps"
    networks:
      - back

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@summasolutions.net
      PGADMIN_DEFAULT_PASSWORD: Summa2009
    volumes:
     - ./.warp/docker/volumes/pgadmin/logs:/root/.pgadmin
    ports:
      - 82:80
    networks:
      - back
    restart: unless-stopped

  mailhog:
    image: mailhog/mailhog
    env_file: .env
    hostname: "mailhog"
    ports:
      - 1025
      - "${MAILHOG_BINDED_PORT}:8025"
    networks:
      - back

networks:
  ## BEGIN networks ##

  ## END networks ##
